<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fyf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4102728E2AD5F2FC00BE7E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4102729F2AD5F2FD00BE7E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410272A92AD5F2FD00BE7E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
